; Copy this file to platformio_override.ini to build the P8 40x20 diagnostic firmware.
[platformio]
default_envs = p8_4020_5s_diagnostic

[env:p8_4020_5s_diagnostic]
extends = env:adafruit_matrixportal_esp32s3
build_unflags = -D LED_TYPES=TYPE_HUB75MATRIX_HS
build_flags = ${env:adafruit_matrixportal_esp32s3.build_flags}
  -D LED_TYPES=TYPE_ONOFF
  -D DATA_PINS=16
  -D PIXEL_COUNTS=1
  -D WLED_P8_5S_DIAGNOSTIC
